git_bin/
*.zip
*.log
__pycache__/
*.pyc
node_modules/
.gradle/
.idea/
.kotlin/
build/
dist/
.licencia_cache
.last_session_id
MiSisBom/APK/build/
MiSisBom/APK/.gradle/
MiSisBom/APK/.idea/
MiSisBom/APK/.kotlin/
MiSisBom/iOS/build/
MiSisBom/iOS/DerivedData/
SisBomCar/APK/build/
SisBomCar/APK/.gradle/
SisBomCar/APK/.idea/
SisBomCar/APK/.kotlin/
*.apk
*.aab
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
